[Unit]
Description=bayeos-gateway-influx

[Service]
User=bayeos
ExecStart=/var/lib/bayeos-gateway-influx/bayeos-gateway-influx.jar

[Install]
WantedBy=multi-user.target