[Unit]
Description=bayeos-gateway

[Service]
User=bayeos
ExecStart=/var/lib/bayeos-gateway/bayeos-gateway.jar

[Install]
WantedBy=multi-user.target