<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>	
</head>
<div th:fragment="status(code)">
<div th:switch="${code}">
  	<span th:case="0" class="label label-success" th:text="#{status.ok}">Ok</span>
  	<span th:case="1" class="label label-warning" th:text="#{status.warning}">Warning</span>
  	<span th:case="2" class="label label-danger" th:text="#{status.critical}">Critical</span>
  	<span th:case="*"></span>  										
</div>
</div>
</html>