<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main}"
>
  <head>
    <title th:text="#{e.boardGroup}">Group</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h3 th:text="#{e.boardGroup}">Board Group</h3>
      <form
        method="post"
        action="#"
        th:action="@{/groups/save}"
        th:object="${group}"
      >
        <input type="hidden" th:field="*{id}" />
        <div th:replace="field::selectDomain"></div>
        <div
          th:replace="field::text(prop='name',label=#{a.name},required=true)"
        ></div>
        <div
          th:replace="field::number(prop='dbFolderId',label=#{a.dbId},step=1)"
        ></div>
        <button th:text="#{action.save}" type="submit" class="btn btn-default">
          Save
        </button>
      </form>
    </div>
  </body>
</html>
