<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorator="main">
<head>
<title th:text="#{e.board}">Board</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="post" action="#" th:action="@{/boards}" th:object="${board}">
			<input type="hidden" name="id" th:field="*{id}" />
			<input type="hidden" name="origin" th:field="*{origin}" />
			
			<div id="props" class="block">
				<div class="block-header" th:text="'ORIGIN:' + *{origin}"></div>
				
				<div class="row">
					<div class="col-sm-3">
		 				<div th:replace="field::selectDomain"></div>
		 			</div>		 		
				</div>
						 						
				<div class="row">																	
					<div class="col-sm-4">
						<div th:replace="field::text('name',#{board.name})"></div>
					</div>
					<div class="col-sm-4">
						<div
							th:replace="field::select('boardGroup',#{e.boardGroup},${groups})"></div>
					</div>
					<div class="col-sm-4">
						<div th:replace="field::checkbox('nagios',#{chkDev.nagios})"></div>
						<div
							th:replace="field::checkbox('denyNewChannels',#{board.denyNewChannels})"></div>
						<div
							th:replace="field::checkbox('dbAutoExport',#{board.autoExport})"></div>
					</div>
				</div>

				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist" id="myTab">
						<li role="presentation"><a href="#channels"
							aria-controls="channels" role="tab" data-toggle="tab"
							th:text="#{e.channels}">Channels</a></li>
						<li role="presentation"><a href="#settings"
							aria-controls="settings" role="tab" data-toggle="tab"
							th:text="#{a.properties}">Settings</a></li>
						<li role="presentation"><a href="#messages"
							aria-controls="messages" role="tab" data-toggle="tab"> <span
								th:text="#{e.messages}"></span> <span class="badge"
								id="msgBadge"></span>
						</a></li>
						<li role="presentation"><a href="#comments"
							aria-controls="comments" role="tab" data-toggle="tab"> <span
								th:text="#{e.comments}"></span> <span class="badge"
								id="comBadge"></span>
						</a></li>
						<li role="presentation"><a href="#virtualChannels"
							aria-controls="virtualChannels" role="tab" data-toggle="tab">
								<span th:text="#{e.virtualChannels}"></span> <span class="badge"
								id="vcBadge" th:text="${board.getVirtualChannels().size()}">0</span>
						</a></li>
						<li role="presentation"><a href="#notifications"
							aria-controls="notifications" role="tab" data-toggle="tab">
								<span th:text="#{e.notifications} "></span>
								<span class="badge" id="notBadge" th:text="${board.notifications.size()}"></span>
						</a></li>

					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in" id="channels">
							<table class="table table-striped">
								<thead>
									<tr>
										<th th:text="#{e.channel}">Channel</th>
										<th th:text="#{channel.lastResultValue}">Last Value</th>
										<th th:text="#{channel.name} + '[' + #{e.unit} +  ']'">Name
											[Unit]</th>
										<th class="hidden-xs hidden-sm"
											th:text="#{channel.lastResultTime}">Last Result Time</th>
										<th class="hidden-xs hidden-sm">Nagios</th>
										<th class="hidden-xs hidden-sm"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cha, stat : *{channels}">
										<td><a href="editChannel.html"
											th:href="@{'/channels/' + ${cha.id}}" th:text="${cha.nr}">Nr</a></td>
										<td th:text="${cha.lastResultValue}"
											th:class="(${cha.statusValid}) ? (${'td-' + cha.statusValid.toString().toLowerCase()}):''"></td>
										<td th:text="${cha.getQuantity()}"></td>
										<td th:text="${{cha.lastResultTime}}"
											class="hidden-xs hidden-sm"
											th:classappend="(${cha.statusComplete}) ? (${'td-' + cha.statusComplete.toString().toLowerCase()}):''"></td>
										<td class="hidden-xs hidden-sm"><input
											th:name="|nsw${cha.id}|" type="checkbox"
											th:checked="${cha.nagios}" th:id="${cha.id}" data-size="mini"></input>
										</td>
										<td class="hidden-xs hidden-sm">
											<div
												th:replace="table::edit(@{'/channels/' + ${cha.id}},false)"></div>
											<div
												th:replace="table::delete(@{'/channels/delete/' + ${cha.id}},false)"></div>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="settings">
							<div th:replace="block::boardSettings(Checks)"></div>
							<div class="block">
								<div class="block-header">Exports</div>
								<div class="row">
									<div class="col-sm-6">
										<div th:replace="field::number(prop='dbFolderId',label=#{a.dbId},step=1)"></div>
									</div>
									<div class="col-sm-6"></div>
								</div>
							</div>

						</div>
						<div role="tabpanel" class="tab-pane fade in" id="messages">
							<table id="tableMessages"
								class="table table-hover nowrap col-sm-12">
								<thead>
									<tr>
										<th th:text="#{msg.resultTime}">Time</th>
										<th th:text="#{msg.type}">Type</th>
										<th th:text="#{msg.content}">Content</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>

						<div role="tabpanel" class="tab-pane fade in" id="comments">
							<div class="block-action">
								<div class="btn-group pull-right">
								<a class="btn btn-xs btn-default"
									th:href="@{'/comments/create/__${board.id}__'}"> <span
									class="glyphicon glyphicon-plus"></span> <span
									th:text="#{action.create}"></span>								
								</a>
								</div>
								<table id="tableComments"
									class="table table-hover nowrap col-sm-12">
									<thead>
										<tr>
											<th th:text="#{com.insertTime}">Time</th>
											<th th:text="#{com.user}">User</th>
											<th th:text="#{com.content}">Content</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>

						</div>
						<div role="tabpanel" class="tab-pane fade in" id="virtualChannels">						
							<div th:replace="block::virtualChannels(${board})"></div>							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="notifications">							
								<table class="table table-striped">
									<thead>
										<tr>
											<th th:text="#{contact.email}"></th>																						
											<th>
												<div class="btn-group pull-right">
													<div th:replace="table::add(@{'/boards/selectContacts/' + ${board.id}})"></div>
												</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="n : ${board.notifications}">
											<td><a th:href="@{/contacts/{id}(id=${n.contact.id})}" th:text="${n.contact.email}"></a></td>
											<td>
												<div class="pull-right">
													<div th:replace="table::delete(@{'/boards/removeNotification/' + ${n.id}},false)"></div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>




				<div class="block-action">
					<button type="submit" name="save" class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span> <span
							th:text="#{action.save}"></span>
					</button>

					<a class="btn btn-default"
						th:href="@{/boards/delete/} + ${board.id}"
						th:onclick="#{dialog.confirm}"> <span
						class="glyphicon glyphicon-remove"></span> <span
						th:text="#{action.delete}"></span>
					</a> <a class="btn btn-default"
						th:href="@{/boards/chart/} + ${board.id}"> <span
						class="glyphicon glyphicon-stats"></span> <span
						th:text="#{action.chart}"></span>
					</a>

					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle" type="button"
							data-toggle="dropdown">
							<span class="glyphicon glyphicon-hdd"> </span> <span
								th:text="#{e.template}"></span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a th:href="@{/boards/selectTemplate/} + ${board.id}"
								th:text="#{action.apply}">Apply</a></li>
							<li><a th:href="@{/boards/saveAsTemplate/} + ${board.id}"
								th:text="#{action.saveAs} + ' ' + #{e.template}">Save as</a></li>
						</ul>
					</div>


				</div>

			</div>


		</form>

		<script th:inline="javascript" class="init">
	     
	    // Default: channels 			   
	   	var tab = [[ ${tab} ]];
	   		   	   	
	   	$('#myTab a[aria-controls="' + tab + '"]').tab('show');
	   	
	   	var language = {
 					"lengthMenu" : 	/*[[#{datatable.lengthMenu}]]*/ ,
 					"zeroRecords" : /*[[#{datatable.zeroRecords}]]*/ , 					
 					"info": /*[[#{datatable.info}]]*/, 
 					"infoEmpty": /*[[#{datatable.infoEmpty}]]*/,
 					"infoFiltered": /*[[#{datatable.infoFiltered}]]*/,
 					"loadingRecords": /*[[#{datatable.loadingRecords}]]*/,
 					"search": /*[[#{datatable.search}]]*/,
 					"paginate" : {
 						"first" : /*[[#{datatable.first}]]*/,
 						"last" : /*[[#{datatable.last}]]*/,
 						"next" : /*[[#{datatable.next}]]*/,
 						"previous" : /*[[#{datatable.previous}]]*/,
 					}
 		 };
	   	
	   	 $(document).ready(function(){		
			$("input[name^='nsw']").bootstrapToggle();		
			$("input[name^='nsw']").change(function() {
				$.ajax({
				 url: [[@{/channels/toggleNagios}]] + '/' + $(this).prop('id') ,          
		         type: "POST",	                  
		         data: "enabled="+ $(this).prop('checked')		               			 			 				 
		 		})															
		 	});
		 
		 // Table messages 
		 $('#tableMessages').DataTable( {
		 	"language": language,
 		    "info": false,
 		    "searching": false,
		 	"responsive": true,
		 	"autoWidth": false,
		 	"processing": true,
		  	"serverSide": true,
		  	"lengthChange": false,
		   	"columns": [					
                    {data: 'resultTime', width: "10%",
                     render: function(data,type,row) {                     
                     		if (row.resultTime != null){
                    			var date = new Date(row.resultTime); 
                    			return date.toLocaleDateString() + " " + date.toLocaleTimeString();                    			
                    		} else {
                    			return '';
                    		}
                     } 
                    },
                    {data: 'type', width: "10%",
                     render: function(data,type,row) {
                    	 return row.type;
                     } 
                    },
                    {data: 'content',
                     render: function(data,type,row) {
                    	 return row.content;
                     } 
                    }],
             "order": [[ 0, "desc" ]],      
             "ajax": {
                	'contentType': 'application/json',
                	'url': [[ @{/rest/messages} + '/' + ${board.id} ]],
                	'type': 'POST',
                    'data': function(d) {                    		
                            return JSON.stringify(d);
                    }
                },
               "initComplete": function(settings, json) { 
            	    var i = this.api().page.info();            	    
               		$('#msgBadge').text(i.recordsTotal);   
               } 
             });
             
             
         // Table comments 
		 var comments = $('#tableComments').DataTable( {
		 	"language": language,
 		    "info": false,
 		    "rowId": 'id',    
 		    "searching": false,
		 	"responsive": true,
		 	"autoWidth": false,
		 	"processing": true,
		  	"serverSide": true,
		  	"lengthChange": false,
		   	"columns": [					
                    {data: 'insertTime', width: "10%",
                     render: function(data,type,row) {                     
                     		if (row.insertTime != null){
                    			var date = new Date(row.insertTime); 
                    			return date.toLocaleDateString() + " " + date.toLocaleTimeString();                    			
                    		} else {
                    			return '';
                    		}
                     } 
                    },
                    {data: 'user.name', width: "10%",
                     render: function(data,type,row) {
                    	 return row.user.name;
                     } 
                    },
                    {data: 'content',
                     render: function(data,type,row) {
                    	 return row.content;
                     } 
                    }, {
                     searchable: false, sortable: false,
                     render: function ( data, type, row ) {
                        	var ret = '<td class="link">';
                    	    var del = /*[[ #{action.delete} ]]*/;
                    	    var confirm =  [[ #{dialog.confirm} ]];
            		        ret += '<a class="btn btn-xs btn-default deleteComment"><span class="glyphicon glyphicon-remove"></span> ' + del + '</a>';
            			    return ret += '</td>';
                     }
                    }],
             "order": [[ 0, "desc" ]],  
             "ajax": {
                	'contentType': 'application/json',
                	'url': [[ @{/rest/comments/board/} + ${board.id} ]],
                	'type': 'POST',
                    'data': function(d) {
                            return JSON.stringify(d);
                    }
                },
               "initComplete": function(settings, json) {
               		var i = this.api().page.info();             		
               		$('#comBadge').text(i.recordsTotal);   
               } 
             });
             
           $('#comments tbody').on('click','.deleteComment', function () {
        	if (confirm( [[#{msg.confirm}]] )) {            
           		var id = $(this).parent().parent().attr('id');
            	$.ajax({
				 url: [[ @{/rest/comments/} ]] + id, 
				 method: 'DELETE',
		         success: function(){
		        	 comments.row(id).remove().draw(true);		        	 
		        	 var n = parseInt($('#comBadge').text(),10) - 1 ;		        	 
		        	 $('#comBadge').text(n);
			     }		               			 			 				 
		 	});
        	}
            	 	      
        } );
              
               
             
  
		 });					
	</script>

	</div>


</body>
</html>