<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">
<head>
<title th:text="#{e.unit}">Unit</title>
</head>
<body>
	<div layout:fragment="content">
		<h3 th:text="#{e.unit}">Unit</h3>
		<form method="post" action="#" th:action="@{/units/save}" th:object="${unit}">
		 	<input type="hidden" th:field="*{id}"/>						
			<div th:replace="field::text('name',#{a.name},true)"></div>			
			<div th:replace="field::text('abbrevation',#{a.abbrevation},false)"></div>
			<div th:replace="field::text('dbUnitId',#{a.dbId},false)"></div>
			<button th:text="#{action.save}" type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
</body>
</html>