<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">
<head>
<title th:text="#{e.channel}">Channel</title>
</head>
<body>
	<div layout:fragment="content">				
		<form id="channel" method="post" action="#" th:action="@{/channels/save}" th:object="${channel}">
			<input type="hidden" th:field="*{id}"/>		
			<input type="hidden" th:field="*{board.id}"/>
			
									
			<div id="props" class="block">
				<div th:text="#{a.properties}" class="block-header">Main</div>				
				<div class="row">
					<div class="col-sm-4">
						<div th:replace="field::text('nr',#{chaTemplate.nr},true)"></div>
					</div>
					<div class="col-sm-4">
						<div th:replace="field::text('label',#{chaTemplate.label},false)"></div>
					</div>														
					<div class="col-sm-4">						
							<div th:replace="field::checkbox('nagios',#{chkDev.nagios})"></div>															
							<div th:replace="field::checkbox('autoExport',#{board.autoExport})"></div>											
					</div>			
				</div>				
				<div class="row">
					<div class="col-sm-6">
						<div th:replace="field::text('phenomena',#{chaTemplate.phenomena},false)"></div>
					</div>
					<div class="col-sm-6">
						<div th:replace="field::select('unit',#{e.unit},${units},false)"></div>
					</div>								
				</div>
				
				<div class="row">
						<div class="col-sm-4">
							<div th:replace="field::select('aggrInterval',#{e.interval},${intervals},false)"></div>							
						</div>
						<div class="col-sm-4">
							<div th:replace="field::select('aggrFunction',#{e.function},${functions},false)"></div>							
						</div>
						<div class="col-sm-4">
							<div th:replace="field::select('spline',#{e.spline},${splines},false)"></div>							
						</div>
				</div>				
			</div>
			
			
			
			<div id="defaults" th:replace="block::channelSettings(#{chk.header})"></div>
			
			
			<div class="block">
								<div class="block-header">Exports</div>
								<div class="row">
									<div class="col-sm-6">
										<div th:replace="field::number('dbSeriesId',#{a.dbId},false)"></div>
									</div>
									<div class="col-sm-6">
																				
									</div>
								</div>
			</div>
							
			<div class="form-group block-action">
				<button type="submit" class="btn btn-primary" th:text="#{action.save}">Save</button>
				<a class="btn btn-default" th:href="@{/channels/delete/} + ${channel.id}" th:onclick="#{dialog.confirm}"> <span
					class="glyphicon glyphicon-remove"></span> <span
					th:text="#{action.delete}"></span>
				</a>				
			</div>	
		</form>
	</div>
</body>
</html>