<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">
<head>
<title th:text="#{user.edit}">Edit user</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="post" action="#" th:action="@{/users/save}" th:object="${user}">
		 	<input type="hidden" th:field="*{id}"/>						
			<div th:replace="field::text('userName',#{user.name})"></div>			
			<div th:replace="field::password('newPassword',#{user.password})"></div>			
			<div th:replace="field::radio('role',#{user.role},${allRoles})"></div>
			<div th:replace="field::checkbox('locked',#{user.locked})"></div>					
			<button th:text="#{action.submit}" type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>