<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">
<head>
<title th:text="#{e.knotPoint}">Knot Point</title>
</head>
<body>
	<div layout:fragment="content">
		<h3 th:text="#{e.knotPoint}">Knot Point</h3>
		<form method="post" action="#" th:action="@{/knotpoints/save}" th:object="${knotePoint}">
		 	<input type="hidden" th:field="*{id}"/>						
			<div th:replace="field::text('x','X')"></div>			
			<div th:replace="field::text('y','Y')"></div>
			<button th:text="#{action.submit}" type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>