<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main}"
>
  <head>
    <title th:text="#{e.domain}">Domain</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h3 th:text="#{e.domain}">Domain</h3>
      <form
        method="post"
        action="#"
        th:action="@{/domains/save}"
        th:object="${domain}"
      >
        <input type="hidden" th:field="*{id}" />
        <div
          th:replace="field::text(prop='name',label=#{a.name},required=true)"
        ></div>
        <div th:replace="field::text('dbFolderId',#{a.dbId})"></div>
        <button th:text="#{action.save}" type="submit" class="btn btn-default">
          Save
        </button>
      </form>
    </div>
  </body>
</html>
