<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">
<head>
<title th:text="#{e.channelFunction}">ChannelFunction</title>


<script th:src="@{/resources/js/ace.js}"
	src="../static/resources/js/ace.js"></script>
<script th:src="@{/resources/js/mode-javascript.js}"
	src="../static/resources/js/mode-javascript.js"></script>
<script th:src="@{/resources/js/worker-javascript.js}"
	src="../static/resources/js/worker-javascript.js"></script>
<script th:src="@{/resources/js/theme-eclipse.js}"
	src="../static/resources/js/theme-eclipse.js"></script>

<style type="text/css" media="screen">
    #editor { 
        border: 1px solid lightgray;
		margin: auto;
		height: 200px;
		width: 100%;
	}    
</style>
</head>

<body>
	<div layout:fragment="content">
		<h3 th:text="#{e.channelFunction}">Channel Function</h3>
		<form method="post" action="#" th:action="@{/channelFunctions}"	th:object="${channelFunction}">
			<input type="hidden" th:field="*{id}" />			
			<div th:replace="field::text('name',#{a.name},true)"></div>
			<div class="form-group">
				<label th:text="#{cf.parameters} +':'" class="control-label">Parameters:</label>				
				<table class="table table-condensed">
				<thead>
					<tr>					
						<th th:text="#{a.name}" class="col-xs-2">Name</th>
						<th th:text="#{cfp.description}" class="col-xs-7">Description</th>
						<th th:text="#{cfp.sample}" class="col-xs-2">Sample</th>
						<th class="col-xs-2">
						<div class="btn-group pull-right">
							<button id="addParam-btn" type="submit" class="btn btn-default" name="addParam" th:text="#{action.create}">Add</button>													
						</div>
						</th>
					</tr>
				</thead>				
				<tbody>
					<tr th:each="p,stat :*{parameters}" class="param">
						<td>
							<input type="text" th:field="*{parameters[__${stat.index}__].name}" class="form-control name"/>
							<input type="hidden" th:field="*{parameters[__${stat.index}__].id}"/>						
						</td>
						<td>
							<input type="text" th:field="*{parameters[__${stat.index}__].description}" class="form-control"/>
						</td>						
						<td>
							<input type="number" class="form-control sample"/>
						</td>	
						<td>
						<div class="pull-right">
							<button type="submit" th:value="${stat.index}" class="btn btn-default" name="removeParam" th:text="#{action.delete}">Remove</button>
						</div>
						</td>
					</tr>
				</tbody>				
				</table>											
			</div>
												 
			<textarea class="hidden" id="body" name="body"></textarea>		
			<div class="form-group">
				<label th:text="#{cf.body} +':*'" class="control-label">Body*:</label>
				<div id="editor"></div>			
			</div>
			
			<button id="save-btn" name="save" th:text="#{action.save}" type="submit" class="btn btn-primary pull-right">Save</button>
			<div class="form-group">
			 	<button id="exec-btn" name="exec" th:text="#{action.execute}" type="button" class="btn btn-default">Execute</button>
			 	<span id="out-msg"></span>
			 	<span id="out-value"></span>
			</div>											
		</form>

		<script th:inline="javascript" class="init">
			var editor = ace.edit("editor");
			var body = $('#body');
			editor.setTheme("ace/theme/eclipse");
			editor.getSession().setMode("ace/mode/javascript");			
			var content = [[ ${channelFunction.body} ]];
			editor.getSession().setValue(content);
			
			$("#save-btn").on('click', function () {
				body.val(editor.getSession().getValue());
			});
			
			$("button[name='removeParam']").on('click', function () {
				body.val(editor.getSession().getValue());
			});
			
			$("#addParam-btn").on('click', function () {
				body.val(editor.getSession().getValue());
			});

			$("#exec-btn").on('click', function () {				
				var script = '';
				var res = [[|#{cf.result}:|]];
				
				$("tr.param").each(function(i, tr) {										
					script+= 'var ' + $("input.name",tr).val() + "=" + $("input.sample",tr).val() + ";\n";															 									   	
				});				
				script+=editor.getSession().getValue();				
				try {
				 	var r = eval(script);				 	
				 	// Success add class alert alert-success
				 	$("#out-msg").html(res);
				 	$("#out-value").html(r);				 
				}
				catch(err) {
					// Warning ad class alert alert-warning 
					$("#out-msg").html(err);
					$("#out-value").html('');
				}
				
				
								
				
			});

			
		</script>

	</div>


</body>
</html>