<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="onoff(value)">
<div th:switch="${value}">
  	<span th:case="true" th:text="#{state.on}">On</span>
  	<span th:case="false" th:text="#{state.off}">Off</span>
</div>
</div>
<div th:fragment="yesno(value)">
<div th:switch="${value}">
  	<span th:case="true" th:text="#{state.yes}">Yes</span>
  	<span th:case="false" th:text="#{state.no}">No</span>
</div>
</div>


<div th:fragment="text(prop,label,required)"  th:class="${#fields.hasErrors('__${prop}__')} ? 'form-group has-error':'form-group'">
				<label th:text="${label} + (${required} ? '*':'')" class="control-label">Text:</label> 
				<input type="text" class="form-control" th:field="*{__${prop}__}" th:required="${required}"/>
				<span th:if="${#fields.hasErrors('__${prop}__')}" class="help-block" th:errors="*{__${prop}__}">Name Error</span>
</div>

<div th:fragment="number(prop,label,required,step)" th:with="step=${step}?:'any'"  th:class="${#fields.hasErrors('__${prop}__')} ? 'form-group has-error':'form-group'">
				<label th:text="${label} + (${required} ? '*':'')" class="control-label">Text:</label> 
				<input type="number" class="form-control" th:field="*{__${prop}__}" th:required="${required}" th:step="${step}"/>
				<span th:if="${#fields.hasErrors('__${prop}__')}" class="help-block" th:errors="*{__${prop}__}">Name Error</span>
</div>

<div th:fragment="url(prop,label,required)"  th:class="${#fields.hasErrors('__${prop}__')} ? 'form-group has-error':'form-group'">
				<label th:text="${label} + (${required} ? '*':'')" class="control-label">Text:</label> 
				<input type="url" class="form-control" th:field="*{__${prop}__}" th:required="${required}"/>
				<span th:if="${#fields.hasErrors('__${prop}__')}" class="help-block" th:errors="*{__${prop}__}">Name Error</span>
</div>

<div th:fragment="textarea(prop,label,required)"  th:class="${#fields.hasErrors('__${prop}__')} ? 'form-group has-error':'form-group'">
				<label th:text="${label} + (${required} ? '*':'')" class="control-label">Text:</label> 
				<textarea rows="3" class="form-control" th:field="*{__${prop}__}" th:required="${required}">
				</textarea>
				<span th:if="${#fields.hasErrors('__${prop}__')}" class="help-block" th:errors="*{__${prop}__}">Name Error</span>
</div>


<div th:fragment="switch(prop,label)" class="make-switch switch-small">
		<label th:text="${label}" class="control-label">Text:</label>
    	<input type="checkbox" th:field="*{__${prop}__}"/>    	
</div>

<div th:fragment="password(prop,label,required)" class="form-group">
				<label th:text="${label} + (${required} ? '*':'')" class="control-label">Password:</label>
				<input type="password" class="form-control"  th:required="${required}"  th:field="*{__${prop}__}"/>
				<span th:if="${#fields.hasErrors('__${prop}__')}" class="help-block" th:errors="*{__${prop}__}">Name Error</span>
</div>

<div th:fragment="checkbox(prop,label)" class="form-group">
	<input type="checkbox" th:field="*{__${prop}__}"/>
	<label th:for="${#ids.prev('__${prop}__')}" th:text="${label}">Label</label>				
</div>


		



<div th:fragment="radio(prop,label,enum)" class="form-group">
		<label th:text="${label}" class="control-label">Radio:</label>
				<ul class="list-inline">
					<li th:each="r : ${enum}">
						<input type="radio"  th:field="*{__${prop}__}" th:value="${r}" />
						<label th:text="${r}">Property</label></li>
				</ul>
</div>
			

<div th:fragment="select(prop,label,option,required)" class="form-group">
		<label th:text="${label}" class="control-label">Select:</label>
		<select class="form-control" th:field="*{__${prop}__}">
				<option th:value="NULL" th:unless="${required}"></option>
				<option th:each="o : ${option}" th:text="${o}" th:value="${o.id}"></option>													
		</select>		
</div>


<div th:fragment="status(code)">
<div th:switch="${code}">
  	<span th:case="0" class="label label-success" th:text="#{status.ok}">Ok</span>
  	<span th:case="1" class="label label-warning" th:text="#{status.warn}">Warning</span>
  	<span th:case="2" class="label label-danger" th:text="#{status.critical}">Critical</span>
  	<span th:case="*"></span>  										
</div>
</div>


<div th:fragment="rssi(value)">
<div th:switch="${value}">
  	<img th:case="value &lt; -85" th:src="@{/resources/img/level_1.gif}"/>
  	<img th:case="value &ge; -85 and value &lt; -75" th:src="@{/resources/img/level_2.gif}"/>
  	<img th:case="value &ge; -75 and value &lt; -65"  th:src="@{/resources/img/level_3.gif}"/>
  	<img th:case="value &ge; -65 and value &lt; -45"  th:src="@{/resources/img/level_4.gif}"/>
  	<img th:case="value &ge; -45" th:src="@{/resources/img/level_5.gif}"/>   	
  	<span th:case="*"></span>  										
</div>
</div>


<div th:fragment="selectDomain">
	
	<th:block th:if="${domainFilter.domains.size() == 0}">		 	
		<input type="hidden" name="domain" th:value="null"/>		
	</th:block>
	
	<th:block th:if="${domainFilter.domains.size()>0 and #authentication.principal.domain == null}">						
		<div th:replace="field::select('domain',#{e.domain},${domainFilter.domains},false)"></div>
	</th:block>				
				
	<th:block th:if="${domainFilter.domains.size()>0 and #authentication.principal.domain != null}">		 	
		<input type="hidden" name="domain" th:value="${#authentication.principal.domain.id}"/>		
	</th:block>				
	 		
</div>
</body>
</html>