<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Your file upload on ${host}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 10; padding: 20;">
	<p>Dear <span th:text="${user.fullName}"></span></p>
	<p>Your uploaded files on host <a th:href="'https://' + ${host} + '/gateway'"><span th:text="${host}"></span></a> have been processed.</p>
	<p>The following table shows the result. Please check the import status and reimport your files in case of any errors.</p>
	<table border="1" cellpadding="5" cellspacing="5">
		<tr>
			<th>Name</th>
			<th>Upload</th>
			<th>Size</th>
			<th>Import</th>
			<th>Status</th>
			<th>Message</th>
		</tr>
		<tr th:each="upload : ${uploads}" th:style="${#strings.equals(upload.importStatus,'FAILED')}?'background-color:#f4433659':''">
			<td th:text="${upload.name}"></td>
			<td th:text="${#dates.format(upload.uploadTime, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${upload.sizeAsString}"></td>
			<td th:text="${#dates.format(upload.importTime, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${upload.importStatus}"></td>
			<td th:text="${upload.importMessage}"></td>
		</tr>
	</table>
	
	<p>First time import only</p>
	<ul>
		<li><a th:href="'https://' + ${host} + '/gateway'">Configure your boards and channels</a></li>
		<li>Turn the auto-export options of your boards on</li>
	</ul>
	<p>Please use the <a th:href="'https://' + ${host} + '/bayeosViewer'">BayEOS Viewer</a> for charting and data exports.</p>
	
	<p>Thank you for using BayEOS</p>
</body>
</html>