<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>	
</head>
<div th:fragment="foot">
<div class="footer">
	<div class="container">
   		<p class="text-muted credit"> &copy; <a href="http://www.uni-bayreuth.de" th:text="#{foot.unibt}">University of Bayreuth</a>, <a href="http://www.bayceer.uni-bayreuth.de">BayCEER</a>, 2016, Version <span th:text="#{project.version}"></span></p>
	</div>
</div>
</div>
</html>