<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main">
<head>
<title th:text="#{nav.intervals}">All intervals</title>
</head>
<body>
	<div layout:fragment="content">
			<h3 th:text="#{nav.intervals}">Intervals</h3>
			<table class="table table-striped" >
				<thead>
					<tr>
						<th><a class="sorted" sd:pagination-sort="name"
							th:text="#{a.name}">Name</a></th>
						<th>
						<div class="btn-group pull-right">
							<div th:replace="table::add(@{'/intervals/create'})"></div>
						</div>	
						
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="i : ${intervals}">
						<td><a th:href="@{/intervals/{id}(id=${i.id})}"
							th:text="${i.name}">Name A</a></td>
						<td>
							<div class="pull-right">																				
								<div th:replace="table::edit(@{'/intervals/' + ${i.id}},false)"></div>
								<div th:replace="table::delete(@{'/intervals/delete/' + ${i.id}},false)"></div>
							</div>  								  								  								
						</td>
					</tr>
				</tbody>
			</table>			
		<div th:replace="table::pagination"></div>		
	</div>	
</body>
</html>