<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main}"
>
  <head>
    <title th:text="#{nav.splines}">All functions</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h3 th:text="#{nav.splines}">Splines</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th th:if="${#authentication.principal.inDefaultDomain()}">
              <a
                class="sorted"
                sd:pagination-sort="domainName"
                th:text="#{e.domain}"
                >Domain</a
              >
            </th>
            <th>
              <a class="sorted" sd:pagination-sort="name" th:text="#{a.name}"
                >Name</a
              >
            </th>
            <th>
              <div class="pull-right">
                <div th:replace="table::add(@{'/newSpline'})"></div>
                <a th:href="@{/splines/upload}" class="btn btn-default btn-xs"
                  ><span class="glyphicon glyphicon-upload"></span>
                  <span th:text="#{action.upload}">Upload</span></a
                >
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="i : ${splines}">
            <td th:if="${#authentication.principal.inDefaultDomain()}">
              <a
                th:if="${i.domain} != null"
                th:href="@{/domains/{id}(id=${i.domain.id})}"
                th:text="${i.domain.name}"
                >Domain</a
              >
            </td>

            <td>
              <span
                th:if="${i.domain == null}"
                class="glyphicon glyphicon-share"
                th:title="#{tt.publicObject}"
              ></span>
              <span
                th:if="${i.locked}"
                class="glyphicon glyphicon-lock"
                title="Spline is locked. Editing not allowed."
              ></span>
              <span th:if="${i.locked}" th:text="${i.name}">Spline Name</span>
              <a
                th:if="${not i.locked}"
                th:href="@{/splines/{id}(id=${i.id})}"
                th:text="${i.name}"
                >Name A</a
              >
            </td>
            <td class="pull-right">
              <th:block
                 th:if="${@accessService.isWriteable(i)}"
              >
                <div
                  th:replace="table::edit(@{'/splines/' + ${i.id}},${i.locked})"
                ></div>
                <div
                  th:replace="table::delete(@{'/splines/delete/' + ${i.id}},${i.locked})"
                ></div>
              </th:block>
              <div
                th:replace="table::export(@{'/splines/export/' + ${i.id}})"
              ></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div th:replace="table::pagination"></div>
    </div>
  </body>
</html>
