<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main}"
>
  <head>
    <title th:text="#{nav.influxConnections}">All connections</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h3 th:text="#{nav.influxConnections}">Connections</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th th:if="${#authentication.principal.inDefaultDomain()}">
              <a
                class="sorted"
                sd:pagination-sort="domainName"
                th:text="#{e.domain}"
                >Domain</a
              >
            </th>
            <th>
              <a class="sorted" sd:pagination-sort="name" th:text="#{a.name}"
                >Name</a
              >
            </th>
            <th>
              <a class="sorted" sd:pagination-sort="isDefault" th:text="#{ic.default}"
                >Default</a
              >
            </th>      
                  
                  
            <th>
              <div class="pull-right">
                <div
                  th:replace="table::add(@{'/influxConnections/create'})"
                ></div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="f : ${influxConnections}">
            <td th:if="${#authentication.principal.inDefaultDomain()}">
              <a                
                th:href="@{/domains/{id}(id=${f.domain.id})}"
                th:text="${f.domain.name}"
                >Domain</a
              >
            </td>
            <td>              
              <a
                th:href="@{/influxConnections/{id}(id=${f.id})}"
                th:text="${f.name}"
                >Name</a
              >
            </td>
            <td>
            	<span th:if="${f.isDefault}" class="glyphicon glyphicon-ok"></span>
            </td>
            
            <td>
              <div class="pull-right">
                <th:block
                  th:if="${@accessService.isWriteable(f)}"
                >
                  <div
                    th:replace="table::edit(@{'/influxConnections/' + ${f.id}},false)"
                  ></div>
                  <div
                    th:replace="table::delete(@{'/influxConnections/delete/' + ${f.id}},false)"
                  ></div>
                </th:block>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div th:replace="table::pagination"></div>
    </div>
  </body>
</html>
