<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main}"
>
  <head>
    <title th:text="#{nav.uploads}">All uploads</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h3 th:text="#{nav.uploads}">Uploads</h3>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="#{msg.infoUploadList(${localFileExpiredMonth})}"></span>
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th th:if="${#authentication.principal.inNullDomain()}">
              <a
                class="sorted"
                sd:pagination-sort="domainName"
                th:text="#{e.domain}"
                >Domain</a
              >
            </th>
            <th>
              <a
                class="sorted"
                sd:pagination-sort="user.lastName"
                th:text="#{e.user}"
                >User Name</a
              >
            </th>
            <th>
              <a class="sorted" sd:pagination-sort="name" th:text="#{a.name}"
                >File Name</a
              >
            </th>
             <th>
              <a
                class="sorted"
                sd:pagination-sort="size"
                th:text="#{upload.size}"
                >Size</a
              >
            </th>
           
           
            <th>
              <a
                class="sorted"
                sd:pagination-sort="uploadTime"
                th:text="#{upload.uploadTime}"
                >Date of Upload</a
              >
            </th>
             <th>
              <a
                class="sorted"
                sd:pagination-sort="importStatus"
                th:text="#{upload.importStatus}"
                >Import Status</a
              >
            </th>
            <th>
              <a
                class="sorted"
                sd:pagination-sort="importMessage"
                th:text="#{upload.importMessage}"
                >Import Message</a
              >
            </th>
            <th>
              <div class="pull-right">
                <a
                  th:href="@{/uploads/uploadFile}"
                  class="btn btn-default btn-xs"
                  ><span class="glyphicon glyphicon-upload"></span>
                  <span th:text="#{action.upload}"></span>
                </a>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="f : ${uploads}">
            <td th:if="${#authentication.principal.inNullDomain()}">
              <a
                th:if="${f.domainId} != null"
                th:href="@{/domains/{id}(id=${f.domainId})}"
                th:text="${f.domain.name}"
                >Domain</a
              >
            </td>
            <td th:text="${f.user.fullName}"></td>
            <td>
              <span class="glyphicon glyphicon-file"></span>
              <span th:text="${f.name}"></span>
            </td>
            <td th:text="${f.sizeAsString}"></td>
            <td th:text="${{f.uploadTime}}"></td>            
            <td>
             <span th:class="'label label-' + ${#strings.toLowerCase(f.importStatus)}" th:text="${f.importStatus}"></span>              
            </td>
            <td th:text="${{f.importMessage}}"></td>
            
            <td>
              <div
                th:replace="table::delete(@{'/uploads/deleteFile/' + ${f.id}},false)"
              ></div>
              <div
                th:replace="table::export(@{'/uploads/exportFile/' + ${f.id}})"
              ></div>
            </td>
          </tr>
        </tbody>
      </table>

      <div th:replace="table::pagination"></div>
    </div>
  </body>
</html>
