<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
   
    
    <script th:src="@{/resources/js/app.js}" src="../static/resources/js/app.js"></script>        
    <script th:src="@{/resources/js/jquery-2.1.3.js}" src="../static/resources/js/jquery-2.1.3.js"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}" src="../static/resources/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/js/jquery.dataTables.js}" src="../static/resources/js/jquery.dataTables.js"></script>
    <script th:src="@{/resources/js/bootstrap-switch.min.js}" src="../static/resources/js/bootstrap-switch.min.js"></script>
    <script th:src="@{/resources/js/dataTables.bootstrap.js}" src="../static/resources/js/dataTables.bootstrap.js"></script>
    <script th:src="@{/resources/js/dataTables.responsive.min.js}" src="../static/resources/js/dataTables.responsive.min.js"></script>
           
                    
    <link th:href="@{/resources/css/bootstrap.min.css}" href="../static/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap-switch.css}" href="../static/resources/css/bootstrap-switch.css" rel="stylesheet"/>    
    <link th:href="@{/resources/css/bootstrap-theme.min.css}" href="../static/resources/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/buttons.bootstrap.min.css}" href="../static/resources/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/buttons.dataTables.min.css}" href="../static/resources/css/buttons.dataTables.min.css" rel="stylesheet"/>	
	<link th:href="@{/resources/css/dataTables.bootstrap.css}" href="../static/resources/css/dataTables.bootstrap.css" rel="stylesheet"/>
	<link th:href="@{/resources/css/app.css}" href="../static/resources/css/app.css" rel="stylesheet"/>
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" href="../static/resources/css/responsive.bootstrap.min.css" rel="stylesheet"/>	    
            
    
    <link rel="shortcut icon" type="image/png" th:href="@{/resources/img/gateway.png}" href="../static/resources/img/gateway.png"/>
</head>
<body>
	 <div th:include="navigation :: navbar"></div>	
	 <div class="container">	 
	    <div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}">Some global message</div>
        <div layout:fragment="content">main content</div>
	 </div>	 
	 <div th:include="footer :: foot"></div>
</body>
</html>