<!DOCTYPE html>
<html  
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
  layout:decorate="~{main}">
<head>
	<title th:text="|#{e.map} ${name}|">Map</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     <script th:src="@{/resources/js/leaflet.js}" src="../static/resources/js/leaflet.js"></script>
     <style>
      leaflet-popup {
        position: absolute;
        text-align: center;
      }
    </style>
     
</head>
<body>
    <div layout:fragment="content">           
    <div class="block">     
        <div class="block-header" th:text="|#{action.map}:${name}|">
        </div>
        
        
        <div class="btn-group">
						<button class="btn btn-default btn-xs dropdown-toggle" type="button"
							data-toggle="dropdown">
							<span class="glyphicon glyphicon-hdd"> </span> <span
								th:text="#{action.export}"></span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a onclick="exportLayer();">GeoJSON</a>
							</li>							
						</ul>
					</div>
        
               
               
        <table id="tableBoards" class="table table-hover nowrap col-sm-12">
                  <thead>
                    <tr>
                      <th th:text="#{board.origin}">Origin</th>
                      <th th:text="#{board.name}">Name</th>
                      <th th:text="#{board.lrt}">Last Result Time</th>
                      <th th:text="#{board.status}">Status</th>                      
                    </tr>
                  </thead>
                  <tbody>
                  <tr th:each="i : ${boards}">
                      <td>
                        <a
                          th:href="@{'/boards/' + ${i.id}}"
                          th:text="${i.origin}"
                        ></a>
                      </td>
                      <td th:text="${i.name}">Name</td>
                      <td th:text="${{i.lastResultTime}}">2001</td>
                      <td>
                        <div th:replace="~{field::status(${i.status})}"></div>
                      </td>                                                                  
                    </tr>
                  </tbody>
                </table>
        
        
       
      	<div id="map" style="height: 800px; width: 100%;"></div>
      	
      	
      	      	
        
            	     	 
<script th:inline="javascript">

/*<![CDATA[*/
	const colors = [
  		"#5cb85c",
  		"#f0ad4e",
  		"#d9534f"
	]; 
  	
   
   
   function getSVGMarker(color){
	 return `<svg viewBox="0 0 500 820" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
     style="fill-rule: evenodd; clip-rule: evenodd; stroke-linecap: round;">    
	    <g transform="matrix(19.5417,0,0,19.5417,-7889.1,-9807.44)">
	        <path fill="#FFFFFF" d="M421.2,515.5c0,2.6-2.1,4.7-4.7,4.7c-2.6,0-4.7-2.1-4.7-4.7c0-2.6,2.1-4.7,4.7-4.7 C419.1,510.8,421.2,512.9,421.2,515.5z"/>
	        <path d="M416.544,503.612C409.971,503.612 404.5,509.303 404.5,515.478C404.5,518.256 406.064,521.786 407.194,524.224L416.5,542.096L425.762,524.224C426.892,521.786 428.5,518.433 428.5,515.478C428.5,509.303 423.117,503.612 416.544,503.612ZM416.544,510.767C419.128,510.784 421.223,512.889 421.223,515.477C421.223,518.065 419.128,520.14 416.544,520.156C413.96,520.139 411.865,518.066 411.865,515.477C411.865,512.889 413.96,510.784 416.544,510.767Z" stroke-width="1.1px" fill="${color}" stroke="white"/>
	    </g></svg>`;	 
    }
    
	const bs = /*[[ ${boards} ]]*/ null;
	const contextBoards = /*[[ @{'/boards'} ]]*/ null;
	const bOrigin = /*[[ #{board.origin} ]]*/ null;
	const bName = /*[[ #{board.name} ]]*/ null;
	const bStatus = /*[[ #{board.status} ]]*/ null;
	
	const boardLayer = L.layerGroup();   	    			    
    var markers = L.featureGroup();	    
	bs.forEach(b => {
		if (b.lat && b.lon && b.status!==null){			
			var marker = new L.marker([b.lat, b.lon],	{
		        icon: L.divIcon({
		            className: 'icon',
		            html: getSVGMarker(colors[b.status]),
		            iconSize: [38, 95],	            	           
		        })		    
			});			
			
			var t =  `<h5><strong>${bOrigin}:</strong>${b.origin}</h5><h5><strong>${bName}:</strong>${b.name}</h5><h5><strong>${bStatus}:</strong>${b.status}</h5>`;				
			marker.bindTooltip(t, {	              
		              offset: [0, 24],
		    });
			
			marker.on('dblclick', function(e) {				  
				  location.assign(`${contextBoards}/${b.id}`);  			
			});
			
			marker.addTo(markers);				
		}
	});
	markers.addTo(boardLayer);
	
	const overlays = {
   			'Board': boardLayer
   	};
		

	const map = L.map("map", { editable: false, layers: [osm, boardLayer] }).fitBounds(markers.getBounds());		
	const layerControl = L.control.layers(baseLayers, overlays).addTo(map);
	
	function exportLayer(){
		   if (!navigator.clipboard) {			   
	           showWarning("Clipboard not available");
	           return;
	       }
		   		   
		   var json = { type:"FeatureCollection",features:[]};		   		   		   		   		   		   
		   bs.forEach(b => {
				if (b.lat && b.lon){			
					var marker = new L.marker([b.lat, b.lon]).toGeoJSON();
					marker.properties.origin = b.origin;
					marker.properties.name = b.name;
					marker.properties.dbFolderId = b.dbFolderId;
					json.features.push(marker);
				}
		   });
		   	       		   		   
		   navigator.clipboard.writeText(JSON.stringify(json)).then(function() {			   
	           showInfo('Copied GeoJSON to clipboard');
	       }, function(err) {
	           showDanger('Could not copy: ', err);
	       });
	   }
	
/*]]>*/
</script>
    
    
    </div> 
    
    </div>
    
              		

	
</body>
</html>