<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main}"
>
  <head>
    <title th:text="#{nav.contacts}">Contacts</title>
  </head>
  <body>
    <div layout:fragment="content">
      <form
        class="form"
        method="post"
        action="#"
        th:action="@{/{controller}/addContacts(controller=${controller})}"
        th:object="${parent}"
      >
        <input type="hidden" name="id" th:value="*{id}" />
        <input type="hidden" name="contacts" id="contacts" />

        <table id="table" class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th
                th:text="#{e.domain}"
                th:if="${#authentication.principal.inNullDomain()}"
              >
                Domain
              </th>
              <th th:text="#{contact.email}">E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="i : ${contacts}">
              <td th:text="${i.id}"></td>
              <td th:if="${#authentication.principal.inNullDomain()}">
                <a
                  th:if="${i.domain} != null"
                  th:href="@{/domains/{id}(id=${i.domain.id})}"
                  th:text="${i.domain.name}"
                  >Domain</a
                >
              </td>
              <td th:text="${i.email}"></td>
            </tr>
          </tbody>
        </table>
        <div class="block-action">
          <button
            th:text="#{action.save}"
            id="submit"
            type="submit"
            class="btn btn-default"
          >
            Save
          </button>
        </div>
      </form>

      <script type="text/javascript" class="init" th:inline="javascript">
        $(document).ready(function() {
        	var dt = $('#table').DataTable({
        	"language": {
        			"lengthMenu" : 	/*[[#{datatable.lengthMenu}]]*/ ,
        			"zeroRecords" : /*[[#{datatable.zeroRecords}]]*/ ,
        			"info": /*[[#{datatable.info}]]*/,
        			"infoEmpty": /*[[#{datatable.infoEmpty}]]*/,
        			"infoFiltered": /*[[#{datatable.infoFiltered}]]*/,
        			"loadingRecords": /*[[#{datatable.loadingRecords}]]*/,
        			"search": /*[[#{datatable.search}]]*/,
        			"paginate" : {
        				"first" : /*[[#{datatable.first}]]*/,
        				"last" : /*[[#{datatable.last}]]*/,
        				"next" : /*[[#{datatable.next}]]*/,
        				"previous" : /*[[#{datatable.previous}]]*/,
        			}
                },
        	"lengthChange" : false,
        	"info" : false,
        	"searching" : true,
        	"columnDefs" : [
        		{	"targets" : 0,
        			"visible" : false,
        			"searchable" : false
        		}
        		]
        	});

        	$('#table tbody').on('click', 'tr', function() {
        		$(this).toggleClass('selected');
        	});

        	$('#submit').click( function() {
        		var ids = [];
        		dt.rows('.selected').data().each( function(row) {
        			ids.push(row[0])
        		});
        		$('#contacts').val(ids)
        	});

        	var url = [[@{/__${controller}__/createNewContact/__${parent.id}__}]];


        	$(".col-sm-6:first").html('<a class="btn btn-default btn-xs" href="' + 	url  + '"><span class="glyphicon glyphicon-plus"/> ' + [[#{action.create}]] + '</a>');



        });
      </script>
    </div>
  </body>
</html>
